.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 200px;
}

.about-header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 300;
    color: beige;
}

.about-container {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.about-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.pro-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    padding-top: 100px;
}

.img1 {
    height: auto;
    width: auto;
    margin-right: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.about-info-text {
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      lightblue, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.pro-info-text {
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      lightblue, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 10%;
    
}

.p1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: beige;
    padding-top: 25px;
}

ul {
    color: beige;
}