/* AboutInfo.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: 'Lato', sans-serif;
    background-color: #282c34;
    color: beige;
    line-height: 1.6;
    overflow-x: hidden;
  }
  
  /* Header styles */
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
  }
  
  /* Contact info styles */
  .contact-info {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contact-info p {
    margin-bottom: 8px;
  }
  
  /* Quote styles */
  .quote {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .quote-text {
    font-size: 28px;
    font-weight: 300;
  }
  
  /* Skills container styles */
  .skills-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }
  
  /* Skills group styles */
  .skills-group {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .skills-group p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  .skills-group ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills-group li {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  /* Info section styles */
  .info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  
  .info-section img {
    height: 500px;
    width: 400px;
    margin-right: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .info-section .about-info-text,
  .info-section .pro-info-text {
    width: 600px;
    height: 500px;
    padding: 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, lightblue, rgba(0, 0, 0, 0)) 1 100%;
  }
  
  /* Responsive adjustments */
  @media only screen and (max-width: 600px) {
    .header-container {
      margin: 50px 0;
    }
  
    .skills-container {
      flex-direction: column;
    }
  
    .skills-group {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .info-section {
      flex-direction: column;
      text-align: center;
    }
  
    .info-section img {
      height: auto;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .info-section .about-info-text,
    .info-section .pro-info-text {
      width: 100%;
    }
  }