.footer img,
.social {
  width: 45px;
  height: 45px; /* Use a pixel value for consistent height */
  display: inline-block;
  border: solid;
  border-radius: 50%;
  margin: 0 10px; /* Equal margin on both sides */
  background-color: transparent;
  color: transparent;
}