.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  
  .article-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 30%; /* Adjust this width as needed */
    min-width: 300px; /* Set a minimum width to prevent content from being too narrow */
  }
  
  .article-container:hover {
    transform: scale(1.05);
  }
  
  .img2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .article-text-container {
    padding: 20px;
  }
  
  .article-text-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .article-text-container p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 960px) {
    .article-container {
      width: 48%; /* Adjust this width as needed */
      min-width: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .article-container {
      width: 100%;
      min-width: auto;
    }
  }
  